{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Voir tous nos biens </h1>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
    the industry's standard dummy text ever since the 1500s,
     when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    
</div>
{% endblock %}
